<h4 class="ui horizontal divider header">List of objects</h4>

<table class="ui celled table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
        </tr>
    </thead>
    <tr *ngFor="let person of people">
        <td>{{person.name}}</td>
        <td>{{person.age}}</td>
        <td>{{person.city}}</td>
    </tr>
</table>

<h4 class="ui horizontal divider header">Nested data</h4>

<div *ngFor="let item of peopleByCity">
    <h2 class="ui header">{{item.city}}</h2>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tr *ngFor="let person of item.people">
            <td>{{person.name}}</td>
            <td>{{person.age}}</td>
        </tr>

    </table>
</div>