/* You can add global styles to this file, and also import other style files */

body {
    user-select: none;
}

[popup]:not(:-internal-popup-opening-or-open, dialog[open]) {
    display: inline-block;
    position: relative;
    min-height: 2em;
    margin: 1em 0;
    // background: #F8F8F9;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
    transition: opacity .1s ease,color .1s ease,background-color .1s ease,box-shadow .1s ease;
    border-radius: 0.28571429rem;
    // box-shadow: 0 0 0 1px rgb(34 36 38 / 22%) inset, 0 0 0 0 transparent;
    border: 0;
    width: 100%;
}

.host-binding-bg {
    background-color: mediumturquoise;
}