<div class="ui raised segment">
  <h2 class="ui header">Demo Form: with events</h2>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form">

    <div class="field" [class.error]="!sku.valid && sku.touched">
      <label for="skuInput">SKU</label>
      <input type="text" class="form-control" id="skuInput" placeholder="SKU" [formControl]="sku">

      <div *ngIf="!sku.valid && sku.touched" class="ui error msg">SKU is invalid</div>
      <div *ngIf="sku.hasError('required') && sku.touched" class="ui error msg">SKU is required</div>
      <div *ngIf="!myForm.valid && myForm.touched" class="ui error msg">Form is invalid</div>
    </div>


    <button type="submit" class="ui button">Submit</button>
  </form>
</div>
